@import "tailwindcss";

html {
  /* 3 choices to choose if browser does not support */
  font-family: system-ui, sans-serif, ui-sans-serif;
  cursor: default;
}

button {
  cursor: pointer;
}

:root {
  --primary-bg: #ffffff;
  --secondary-bg: #f9fafb;
  --tertiary-bg: #667eea0d;

  --primary-button: #2563eb;
  --secondary-button: #667eea;
  --tertiary-button: #4b5563;

  --primary-text: #374151;
  --primary-text-invert: #ffffff;
  --secondary-text: #999ca3;

  --primary-focus: #1d4ed8;
  --secondary-focus: #3b82f6;

  --primary-border: #57687c;
  --secondary-border: #d1d5db;
  --tertiary-border: #e2e8f0;

  --primary-shadow: #667eea4d;
  --secondary-shadow: #0000001a;

  --status-dot: #10b981;
  --dark-shade: #1a365d;

  --feedback-form: #ffffff0d;
}
